#video_area {
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
  }
  
  #background_video {
      z-index: -1;
      width: 100vw;
      position: absolute;
  }
  
  /* 1219/685 is an aspect ratio of the video */
  @media screen and (max-aspect-ratio: 1219/685) {
     #background_video {
         width: auto;
         height: auto;
      }
  }
  
  section {
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  #section1 {
    text-align: center;
  }
  
  #section1 h1 {
      margin-top: 42vh;
      font-size: 48px;
      font-weight: 900;
      color: #fff;
  }
  
  #section2 {
   background: #eea;
  }
  
  #section2 p {
    margin-top: 30vh;
  }
  